html,
body {
    height: 100%;
    background-color: gray;
}
input[type='submit'] {
    position: absolute;
    right: 0;
    bottom: 0;
}
#eventTemp{
    overflow-y: scroll;
    height: 0%;
}
#month td {
    border: none;
}
td {
    vertical-align: text-top;
    border: 1px solid black;
}
#eventsCalendar tr {
    width: 100%;
    
}
#notifications {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.eventsOnDay {
    width: 14%;
    height: 22%;
}
.dayOfWeek {
    border: none;
}
.date {
    font-weight: bold;
}
#eventsCalendar {
    height: 100%;
    width: 100%;
}
#topMenuBar div {
    height: 100%;
    width: auto;
    display: inline;
}
#upcomingEvents {
    float: right;
    width: 66%;
    height: 100%;
}
.event {
    width: 49%;
    float: left;
    height: 100%;
    border-right: 1px solid black;
}
#topUpcomingEvents {
    height: 14%;
    width: 100%;
    float: left;
}
#bottomeUpcomingEvents {
    height: 85%;
    width: 100%;
    float: left;
}
#topUpcomingEvents .section {
    height: 100%;
    width: 49%;
    float: left;
}
#secondEvent {
    float: right;
    width: 50%;
    height: 100%;
}
#topMenuBar span a {
    text-align: right;
}
#bottom {
    width: 100%;
    height: 35%;
}
#suggestedGroup {
    float: left;
    width: 33%;
    height: 100%;
    border-right: 1px solid black;
}
#topMenuBar {
    width: 100%;
    height: 5%;
    background-color: #AF6000;
}
#sectionMiddle {
    height: 59%;
    width: 100%;
}
div #calendar {
    background-color: #276F99;
    float: left;
    width: 59%;
    height: 100%;
}
#rightSideBar {
    float: right;
    width: 40%;
    height: 100%;
    background-color: #AF8200;
}