#sidebar {
    width: 20%;
    height: 90%;
    float: left;
}
#events {
    width: 26%;
    height: 90%;
    float: left;
}
#groups {
    width: 26%;
    height: 90%;
    float: left;
}
#users {
    width: 26%;
    height: 90%;
    float: left;
}