html,
body {
    height: 100%;
    background-color: gray;
}
#topMenuBar div {
    height: 100%;
    width: 33%;
    display: inline;
}
.event {
    width: 49%;
    float: left;
    height: 100%;
    border-right: 1px solid black;
}
#secondEvent {
    float: right;
    width: 50%;
    height: 100%;
}
#topMenuBar span a {
    text-align: right;
}
#bottom {
    width: 100%;
    height: 35%;
}
#upcomingEvents {
    float: right;
    width: 66%;
    height: 100%;
}
#suggestedGroup {
    float: left;
    width: 33%;
    height: 100%;
    border-right: 1px solid black;
}
#topMenuBar {
    width: 100%;
    height: 5%;
    background-color: #AF6000;
    text-align: right;
}
#sectionMiddle {
    height: 59%;
    width: 100%;
}
div #calendar {
    background-color: #276F99;
    float: left;
    width: 59%;
    height: 100%;
}
#rightSideBar {
    float: right;
    width: 40%;
    height: 100%;
    background-color: #AF8200;
}
a {
    color: #10137A;
}