{% extends "QED/base.html" %}{% load dajaxice_templatetags %}{%block head %}{% dajaxice_js_import %} {%endblock%} {% block title %}SQUIRL {% endblock title%} {% load staticfiles %} {% load url from future %}{% block menu_addon %}
<div><a href="/QED/addEvent/">Add Event</a>
</div>
<div> <a href="/creategroup">Create Group</a>
</div>
<script type="text/javascript" src="{% static 'QED/test_javascript.js' %}">
</script>
<button onclick="Dajaxice.QED.sayhello(myjscallback);">Click</button>

{% endblock %} {%block links_to_static_files %}
<link rel="stylesheet" type="text/css" href="{% static 'QED/indexLayoutTemplate.css' %}" />{% endblock %}{% block content %}
<div id="sectionMiddle">{%block middle %}
    <div id="calendar">{{calendar}}</div>{% endblock%} {%block right_side_bar %}
    <div id="rightSideBar">{% block right_side_bar_content %}Notifications {% endblock %}</div>{% endblock %}</div>
<div id="bottom">
    <div id="suggestedGroup">
        <h3>Suggested Group</h3>
        {% if suggested_group %}
        <div>
            <h3>{{suggested_group.name}}</h3>
        </div>
        <div>
            <h4>Description:</h4> {{suggested_group.description}}</div>
        <div>
            <h4>Interest(s):</h4>{%for inter in suggested_group.interests.all %}
            <li>{{inter.name}}</li>{%endfor%}
        </div>
        {%endif %}
    </div>
    <div id="upcomingEvents">
        <div id="topUpcomingEvents">
            <span class="section">
        <h3>Upcoming Events</h3></span>
            <span class="section">
        {% if user_events.has_other_pages %}
        <div class="pagination">{% if user_events.has_previous %}
            <span><a href="?page={{user_events.previous_page_number  }}">&laquo;</a>
            </span>
            {%else %}
            <span class="disabled"><span>&laquo;</span>
            </span>{%endif%} {% for page_number in user_events.paginator.page_range %} {% if page_number == user_events.number %}
            <span class="active"><span>{{page_number}}<span class="sronly">(current)</span></span>
            </span>
            {%else%}
            <span><a href="?page={{page_number}}">{{page_number}}</a>
        </span>
            {%endif%} {%endfor%} {% if user_events.has_next %}
            <span><a href="?page={{user_events.next_page_number}}">&raquo;</a>
        </span>
            {%else %}
            <span class="disabled"><span>&raquo;</span>
            </span>{%endif%}
        </div>
        </span>
        {%endif%}
    </div>
    <div id="bottomeUpcomingEvents">{% if user_events.object_list %} {% for event in user_events.object_list %}
        <div class="event">
            <a class="eventLink" href='/event.html'> {{event.name }}</a>
            <div class='eventDiscription'>{{event.description}}</div>
            <div class='eventTime'>{{event.start_time}} to {{event.end_time}}</div>
            <div class="eventLocation">Where: {{event.main_location}}</div>
            <div class="eventGroup">Part of <a class="groupLink" href="/group.html">{{event.group.name}}</a>
            </div>
        </div>
        {% endfor %} {% else %}
        <p>You have no upcoming events at this time.</p>
        {% endif %}
    </div>

</div>
</div>
{% endblock content %}