#sidebar {
    width: 20%;
    height: 90%;
    float: left;
}
#eventList {
    width: 26%;
    height: 90%;
    float: left;
}
#groupList {
    width: 26%;
    height: 90%;
    float: left;
}
#userList {
    width: 26%;
    height: 90%;
    float: left;
}