 {% extends "squirl/base.html" %}{%load static %} {% block title %}SQUIRL: Add Event{% endblock %}{% block content %}

<div id="content">
    <h1>Edit Your Event to Make it Even Better!</h1>
    <form method="post" id="eventForm">
        {% csrf_token %} {{form.errors}}
        <div>
            <div>{{form.isUserEvent}}
                <div id="eventTypeErrors"></div>
            </div>
            <div>{{form.title.label}}{{form.title}}
                <div id="titleErrors"></div>
            </div>
            <div>{{form.location.label}}{{form.location}}
                <div id="locationErrors"></div>
            </div>
            <div>{{form.startTime.label}}{{form.startTime}}
                <div id="startTimeErrors"></div>
            </div>
            <div>{{form.endTime.label}}{{form.endTime}}
                <div id="endTimeErrors"></div>
            </div>
            <div>{{form.description.label}}{{form.description}}
                <div id="descriptionErrors"></div>
            </div>
            <div id="groupSelection">{{form.group}}
                <div id="groupErrors"></div>
            </div>

            <div>{% if form.friends %}{{form.friends.label}}{{form.friends}} {%endif%}
                <div id="friendErrors"></div>
            </div>
        </div>
        <div>
            <h4>Location</h4>
            {{addressForm.as_p}}
        </div>
        <div>
            <h4>Interests:</h4>
            {{interests.management_form}} 
            <div id="interests">
                {% for form in interests.forms%} {{form.interest}} {% endfor%}
            <button id="addInterest" >Add Another Interest</button></div>
             
            
        </div>

        <input type="submit" value="Save Event!" id="formSubmit">
    </form>
</div>

{% endblock %} {% block endScripts %}
<script type="text/javascript" src="{% static 'squirl/addEventValidation.js' %}"></script>
<script>
    $("#id_startTime_0").datepicker({
        changeMonth: true,
        changeYear: true,
    }).addClass("form-control");
    $("#id_endTime_0").datepicker({
        changeMonth: true,
        changeYear: true,
    }).addClass("form-control");
</script>
{%endblock %}
