{%extends "squirl/base.html"%} {% load staticfiles %} {% load i18n%} {% load utility_tags %}{%block links_to_static_files %}
<link rel="stylesheet" type="text/css" href="{% static 'squirl/searchPageLayout.css' %}" />{% endblock %} {%block content%}
<div id="content">
<div id="sidebar">
   
    <form method="post" id="searchForm">
    
        {% csrf_token %}
        <div class="formErrors"> {{searchForm.errors}}</div>
        {%for field in searchForm%}
        <div>{{field.label}}: {{field}}</div>
        {% endfor %}
        
        <input type="submit" value="Search!" id="formSubmit">
    </form>
</div>
<div id="events">
    <h3>Events</h3>
    <div id="eventList">
    {% for event in object_list %}
    <div class="event">
        <h3><a id="id_eventLink" href='/squirl/event/{{event.id}}'> {{event.name}}</a></h3>
    </div>

    {%endfor %}
    </div>
</div>
    
<div id="groups">
    <h3>Groups</h3>
    <div id="groupList">
    {%for group in group_list %}
    <div class="group"> <h3><a href="/squirl/group/{{group.pk | urlencode}}">{{group.name}}</a></h3></div>
    
        {%endfor %} </div>
</div>
<div id="users"><h3>Users</h3> <div id="userList">{%for user in user_list %}
 <div class="person"><h4><a href="/squirl/profile/{{user.squirl_user.id}}">{{user.squirl_user.username}}</a></h4></div>
    {%endfor %}</div>
</div>
    </div>{%endblock%}
{% block endScripts %} <script type="text/javascript" src="{% static 'squirl/searchPageScript.js' %}"></script> {%endblock %}